@value vars: "../vars.css";
@value spacingXL, spacingL, boxShadow, borderRadius from vars;

.JobBuilder {
  position: absolute;
  left: spacingXL;
  top: spacingXL;
  min-width: 30rem;

  padding: spacingL;

  box-shadow: boxShadow;
  border-radius: borderRadius;
}

.JobBuilder > * + * {
  margin-top: spacingL;
}

.submit {
  margin-left: 4rem;
}
